@model ProfileViewModel
@{
    ViewData["Title"] = "Your Profile";
}

<link rel="stylesheet" href="~/css/profile/index.css" asp-asp-append-version="true">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Thai">

<div>
    <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            <button>
                <i class="fa-solid fa-plus"></i> 
                <span>สร้างกิจกรรม</span>
            </button>
            <button>
                <i class="fa-regular fa-bell"></i>
                <span>การเเจ้งเตือน</span>
            </button>
            <i class="fa-solid fa-circle-user fa-3x"></i>
        </div>
    </nav>
    <body>
        <div class="profile-main-div">
            <div class="profile-div">
                <div class="profile-img_rect-div">
                    <div class="profile-img-div">
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="me_profile_picture" >
                    </div>
                    <div class="sex-rect" style="background-color: @Model.SexColor;"></div>
                </div>
                <div class="profile-detail-div">
                    <p>@Model.Firstname @Model.Lastname</p>
                    <p>Your Profile</p>
                    <div class="id_birthday-div">
                        <p>@@@Model.Username</p>
                        <i class="far fa-calendar-minus"></i>
                        <p>@Model.Birthday</p>
                        <i class="fa-solid fa-user"></i>
                        <p>call me as : @Model.Nickname</p>
                    </div>
                    <p>เกี่ยวกับฉัน</p>
                    <p>
                        @Model.About
                    </p>
                </div>
                <div class="profile-interest-div">
                    <p>ความสนใจ</p>
                    <ul class="interest-ul">
                        @foreach (var tag in Model.InterestTags)
                        {
                            <li>@tag.ActivityTagId</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="edit-btn-div">
            </div>
            <a href="./edit" class="edit-btn">แก้ไขโปรไฟล์</a>
        </div>
    </body>
</div>




