@model ProfileViewModel
@{
    ViewData["Title"] = @Model.Nickname + "'s Profile";
}

<link rel="stylesheet" href="~/css/profile/person.css" asp-asp-append-version="true">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Thai">

<div>
    <nav>
        <div class="logo">
            <i class="fa-brands fa-facebook fa-4x"></i>
            <span>EventListener</span>
        </div>
        <div class="buttongroup-and-user">
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="activity" asp-action="create">
                    <button class="create-activity-btn">
                        <i class="fa-solid fa-plus"></i>
                        สร้างกิจกรรม
                    </button>
                </a>
                <button class="noti-btn">
                    <i class="fa-regular fa-bell"></i>
                    การเเจ้งเตือน
                </button>
                <div class="user-dropdown">
                    <button class="user-avatar-btn" onclick="drop()"><img src="~/user.png" alt=""
                            class="avatar-img"></button>
                    <div id="dropdown-content" class="dropdown-content">
                        <a asp-controller="profile" asp-action="index">โปรไฟล์</a>
                        <a asp-controller="account" asp-action="logout">ออกจากระบบ</a>
                    </div>
                </div>
            }
            else
            {
                <a asp-controller="account" asp-action="login">
                    <button class="login-btn">
                        Login
                    </button>
                </a>
                <a asp-controller="account" asp-action="register">
                    <button class="register-btn">
                        Register
                    </button>
                </a>
            }
        </div>
    </nav>

    <body>
        <div class="profile-main-div">
            <div class="profile-div">
                <div class="profile-img_rect-div">
                    <div class="profile-img-div">
                        <img src="@Model.UserImageUrl" alt="me_profile_picture" >
                    </div>
                    <div class="sex-rect" style="background-color:@Model.SexColor"></div>
                </div>
                <div class="profile-detail-div">
                    <div class="name_status-div">
                        <p>@Model.Firstname @Model.Lastname, @Model.Age</p>
                        <div class="status-circle" style="background-color:@Model.SexColor"></div>
                    </div>
                    <div class="id_birthday-div">
                        <p>@@@Model.Username</p>
                        <i class="far fa-calendar-minus"></i>
                        <p>@Model.Birthday</p>
                        <i class="fa-solid fa-user"></i>
                        <p>@Model.Nickname</p>
                    </div>
                    <p>เกี่ยวกับฉัน</p>
                    <p>
                        @Model.About

                    </p>
                </div>
                <div class="profile-interest-div">
                    <p>ความสนใจ</p>
                    <ul class="interest-ul">
                        @foreach(var tag in Model.InterestTags){
                            <li>@tag.ActivityTagId</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </body>
</div>

<script src="~/js/activity/user_dropdown.js" asp-append-version="true"></script>



