@{
    ViewData["Title"] = "สร้างกิจกรรม";
}

@model CreateActivityViewModel

<link rel="stylesheet" href="~/css/activity/create-activity.css" asp-append-version="true">

<div>
    <nav>
        <button class="cancel-button" onclick="location.href='@Url.Action("Index", "Home")'">
            <i class="fa-solid fa-x"></i> 
            ยกเลิก
        </button>
        <h2 class="title">สร้างกิจกรรม</h2>
        <div class="buttongroup-and-user">
            <button class="confirm-button" type="submit" form="activity-create-form">
                <i class="fa-solid fa-check"></i>
                ยืนยัน
            </button>
        </div>
    </nav>
    
    <form id="activity-create-form" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="question">
            <div class="label-div">
                <label asp-for="ActivityName"><i class="fa-solid fa-pen-nib"></i> ชื่อกิจกรรม</label>
                <span class="error-message" asp-validation-for="ActivityName"></span>
            </div>
            <input type="text" id="name" asp-for="ActivityName" class="@(ViewData.ModelState["ActivityName"]?.Errors.Any() == true ? "input-error" : "input")">
        </div>

        <div class="question">
            <div class="label-div">
                <label asp-for="Location"><i class="fa-solid fa-location-dot"></i> สถานที่</label>
                <span class="error-message" asp-validation-for="Location"></span>
            </div>
            <input type="text" id="location" asp-for="Location" class="@(ViewData.ModelState["Location"]?.Errors.Any() == true ? "input-error" : "input")">
        </div>

        <div class="question">
            <div class="label-div">
                <label asp-for="StartDateTime"><i class="fa-regular fa-calendar"></i> เวลา-วันที่</label>
                <span class="error-message" asp-validation-for="StartDateTime"></span>
            </div>
            <input type="datetime-local" id="date_time" asp-for="StartDateTime" class="@(ViewData.ModelState["StartDateTime"]?.Errors.Any() == true ? "input-error" : "input")">
        </div>

        <div class="question">
            <div class="label-div">
                <label asp-for="ParticipantLimit"><i class="fa-regular fa-user"></i> จำนวนสมาชิกสูงสุด</label>
                <span class="error-message" asp-validation-for="ParticipantLimit"></span>
            </div>
            <input type="number" id="maximum_participant" asp-for="ParticipantLimit" class="@(ViewData.ModelState["ParticipantLimit"]?.Errors.Any() == true ? "input-error" : "input")">
        </div>

        <div class="question">
            <div class="label-div">
                <label asp-for="Detail"><i class="fa-regular fa-user"></i> รายละเอียด</label>
                <span class="error-message" asp-validation-for="Detail"></span>
            </div>
            <textarea id="details" asp-for="Detail" rows="4" cols="50" placeholder="กรอกรายละเอียดที่นี่..."
                class="@(ViewData.ModelState["Detail"]?.Errors.Any() == true ? "input-error" : "input-textarea")"></textarea>
        </div>

        <div class="question">
            <div class="label-div">
                <label for="searchDropdown">เลือกแท็ก</label>
                <span class="error-message" asp-validation-for="ActivityTag"></span>
            </div>
            <select asp-for="ActivityTag" id="searchDropdown" class="@(ViewData.ModelState["ActivityTag"]?.Errors.Any() == true ? "input-error" : "")">
                @if (ViewBag.activityTags != null)
                {
                    @foreach (var a in ViewBag.activityTags)
                    {
                        <option value="@a.ActivityName">@a.ActivityName</option>
                    }
                }
            </select>
        </div>

        <div class="imgquestion">
            <div class="imgreq">
                <label for="file"><i class="fa-solid fa-link"></i> รูปภาพ:</label>
                <input type="file" id="file" name="file" accept="image/*" class="@(ViewData.ModelState["file"]?.Errors.Any() == true ? "input-error" : "")">
                <span class="error-message">
                    @if (ViewData.ModelState["file"]?.Errors.Any() == true)
                    {
                        @ViewData.ModelState["file"].Errors.First().ErrorMessage
                    }
                </span>
            </div>
            <div class="imgdiv">
                <img id="previewImage" style="display: none;">
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById("file").addEventListener("change", function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.getElementById("previewImage");
                img.src = e.target.result;
                img.style.display = "block";
                img.style.width = "100%";
                img.style.height = "100%";
            };
            reader.readAsDataURL(file);
        }
    });
</script>


