@model EditActivityViewModel

@{
    ViewData["Title"] = "เเก้ไขกิจกรรม";
}

<link rel="stylesheet" href="~/css/activity/edit_activity.css" asp-append-version="true">
<div>
    <nav>
        <a asp-controller="Activity" asp-action="Detail" asp-route-id="@Model.ActivityId">
            <button class="cancel-button">
                <i class="fa-solid fa-x"></i>
                ยกเลิก
            </button>
        </a>
        <h2 class="title">เเก้ไขกิจกรรม</h2>
        <div class="buttongroup-and-user">
            <button class="confirm-button" type="submit" form="activity-create-form">
                <i class="fa-solid fa-check"></i>
                ยืนยัน
            </button>
        </div>
    </nav>
    <form id="activity-create-form" asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="question">
            <label asp-for="ActivityName"><i class="fa-solid fa-pen-nib"></i> ชื่อกิจกรรม</label>
            <input type="text" id="name" asp-for="ActivityName" value="@Model.ActivityName" required>
        </div>
        <div class="question">
            <label asp-for="Location"><i class="fa-solid fa-location-dot"></i> สถานที่</label>
            <input type="text" id="location" asp-for="Location" value="@Model.Location" required>
        </div>
        <div class="question">
            <label asp-for="StartDateTime"><i class="fa-regular fa-calendar"></i> เวลา-วันที่</label>
            <input type="datetime-local" id="date_time" asp-for="StartDateTime"
                value="@Model.StartDateTime.AddYears(-543).ToString("yyyy-MM-ddTHH:mm")">
            @Html.ValidationMessageFor(m => m.StartDateTime, "", new { @class = "validation-error" })
        </div>
        <div class="question">
            <label asp-for="ParticipantLimit"><i class="fa-regular fa-user"></i> จำนวนสมาชิกสูงสุด</label>
            <input type="number" id="maximum_participant" asp-for="ParticipantLimit" value="@Model.ParticipantLimit" required>
            @Html.ValidationMessageFor(m => m.ParticipantLimit, "", new { @class = "validation-error" })
        </div>
        <div class="question">
            <label asp-for="Detail"><i class="fa-regular fa-user"></i> รายละเอียด</label>
            <textarea id="details" asp-for="Detail" rows="4" cols="50"
                placeholder="กรอกรายละเอียดที่นี่..." required>@Model.Detail</textarea>
        </div>
        <div class="question">
            <label for="searchDropdown">เลือกแท็ก</label>
            <select asp-for="ActivityTag" id="searchDropdown" required>
                @foreach (var a in ViewBag.activityTags)
                {
                    <option value="@a.ActivityName">@a.ActivityName</option>
                }
            </select>
            <div class="imgquestion">
                <div class="imgreq">
                    <label for="file"><i class="fa-solid fa-link"></i> รูปภาพ:</label>
                    <input type="file" id="file" name="file" accept="image/*">
                </div>
                <div class="imgdiv">
                    <img src="@ViewBag.ActivityImageUrl" style="width: 100%; height: 100%; object-fit: cover;"
                        id="previewImage">
                </div>
            </div>
            <input type="hidden" asp-for="ActivityId" value="@Model.ActivityId">
        </div>
    </form>
</div>

<script>
    document.getElementById("file").addEventListener("change", function (event) {
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                const img = document.getElementById("previewImage");
                img.src = e.target.result;
                img.style.display = "block";
                img.style.width = "100%";
                img.style.height = "100%";
                img.style.objectFit = cover
            };
            reader.readAsDataURL(file);
        }
    });
</script>